@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// .container {
//   width: 100vw;
//   height: 100vh;
// }

// * {
//   margin: 0;
// }
// .container {
//   background-image: url("../../assets/blue-sky.jpg");
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .login_title {
//   text-align: center;
//   padding: 2rem 0;
//   color: navy;
//   font-family: "Roboto", sans-serif;
//   font-size: xx-large;
// }
// .formwrappermain {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: flex-end;
//   height: 100%;
// }

// .formwrapper {
//   img {
//   }
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   /* gap: 5rem; */
//   background-color: whitesmoke;
//   width: max-content;
//   height: 100%;
// }

// .formbox {
//   input {
//     height: 2rem;
//   }
//   display: flex;
//   flex-direction: column;
//   gap: 1rem 0;
//   padding: 2rem;
//   width: 20rem;
//   /* margin-top: 8rem; */
// }

// .formbox {
//   button {
//     height: 2.5rem;
//     background-color: #ffbf00;
//     border-radius: 2px;
//     border: none;
//     /* margin-top: 3rem; */
//   }
// }

// .logo {
//   height: 10rem;
//   width: 12rem;
//   justify-self: center;
// }

// .error {
//   color: red;
//   font-family: "Roboto", sans-serif;
// }

.login {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/blue-sky.jpg");

  &__form-wrapper {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 30vw;
    height: 100vh;
  }
  &__title {
    color: navy;
    font-size: 100px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  &__formbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  &__textfield {
    width: 20vw;
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
  }
  &__logo {
    height: 15vw;
    width: 35vh;
    display: flex;
    justify-content: center;
    justify-self: center;
  }
}
