@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
}
body {
  background-image: url("..//assets/sample.avif");
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.login_title {
  text-align: center;
  padding: 2rem 0;
  color: navy;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
}
.formwrappermain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formwrapper {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* gap: 5rem; */
  background-color: whitesmoke;
  width: 25%;
  height: 400px;
}

.formbox {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding: 2rem;
  /* margin-top: 8rem; */
}
.formbox input {
  height: 2rem;
}

.formbox button {
  height: 2.5rem;
  background-color: 	#FFBF00;
  border-radius: 2px;
  border: none;
  /* margin-top: 3rem; */
}
